Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  bugprone-*,
  readability-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length
  '
WarningsAsErrors: true
HeaderFilterRegex: '.'
AnalyzeTemporaryDtors: false
FormatStyle: google
