Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  bugprone-*,
  readability-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -bugprone-exception-escape,
  -cppcoreguidelines-pro-type-reinterpret-cast
  '
WarningsAsErrors: true
HeaderFilterRegex: '.'
AnalyzeTemporaryDtors: false
FormatStyle: google
